.App {
  text-align: center;
}

/*****  GIFCARD STYLES *****/
.gif-img {
  border-radius: 2px;
  max-width: 375px;
  max-height: 220px;
  min-width: 375px;
  min-height: 220px;
  overflow: hidden;
  margin: 10px ;
  opacity: 0.8;
}
.gif-img:hover{
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 3px 3px 3px grey;
}

/* SEARCH FORM STYLES */

.search_form {
  width: 75%;
  margin: auto;
  padding: 20px 0 50px 0;
}

/* NAV STYLES */

 .nav-span{
   font-size: 20px;
   display: inline-flex;
   flex: wrap;
   margin: 30px 80px 30px 80px;
   color: #000;
 }

  .nav-span:hover{
    display: inline-flex;
    flex: wrap;
    margin: 30px 80px 30px 80px;
    color: #11ABB0;
    text-decoration: underline;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
