a:hover{
  text-decoration: none;
  color: black;
}

body{
    background: #eee;
    text-align: center;
}

.sort-div {
  margin: 10px ;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


/*****  GIFCARD STYLES *****/
.gif-img {
  border-radius: 2px;
  max-width: 375px;
  max-height: 220px;
  min-width: 375px;
  min-height: 220px;
  overflow: hidden;
  margin: 10px ;
  opacity: 0.8;
}
.gif-img:hover{
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 3px 3px 3px grey;
}

/*****  GIFMODAL STYLES *****/
.fav-heart {
  max-width: 30px;
  max-height: 30px;
}
.fav-heart:hover {
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transform: scale(1.2);
}

/* SEARCH FORM STYLES */

.search_form {
    margin: auto;
}

.form-group {
    position: relative;
    padding-top: 1.5rem;
    width: 75%;
    padding: 20px 0 50px 0;
}

input {
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
  font-size: 30px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 0 30px #eee inset;
}

input:focus {
  outline: none;
  border-color: #11ABB0;
  border-bottom: 2px solid #11ABB0;
  -webkit-transition: border-color .2s ease-in-out;
  -moz-transition: border-color .2s ease-in-out;
  -o-transition: border-color .2s ease-in-out;
  -ms-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
}
label {
    position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(2rem);
}

/* NAV STYLES */

.nav-span{
 font-size: 20px;
 display: inline-flex;
 flex: wrap;
 margin: 30px 80px 30px 80px;
 color: #000;
 text-decoration: none;
}

.nav-span:hover{
  display: inline-flex;
  flex: wrap;
  margin: 30px 80px 30px 80px;
  color: #11ABB0;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.nav-img {
  display: inline-flex;
  max-width: 50px;
  max-height: 50px;
}

.nav-img:hover {
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transform: scale(1.1);
}

/***** UPLOAD STYLES *****/

.uploadBtn {
  margin: 10px;
  width: 375px;
}

.uploadBtn:hover {
  margin: 10px;
  background-color: #11ABB0;
  width: 375px;
}

.drop-div {
  position: relative;
  background-image:url('./Images/UPLOAD_GIF.gif');
  background-repeat: no-repeat;
  background-size:cover;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 375px;
  height: 250px;
  border-radius: 3px;
  color: white;
  opacity: 0.7;
}

.drop-div:hover {
  background-color: #ccc;
  opacity: 1;
}

.dropped-img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 375px;
  max-height: 250px;
  min-width: 375px;
  min-height: 250px;
}

/**** FAVORITES STYLES ****/

.center-text {
  position: relative;
  margin: auto;
}
