a:hover{
  text-decoration: none;
  color: black;
}

body{
    background: #eee;
    text-align: center;
}

.sort-div {
  margin: 10px ;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


/*****  GIFCARD STYLES *****/
.gif-img {
  border-radius: 2px;
  max-width: 380px;
  max-height: 220px;
  min-width: 380px;
  min-height: 220px;
  overflow: hidden;
  margin: 10px ;
  opacity: 0.8;
}
.gif-img:hover{
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 3px 3px 3px grey;
}

/*****  GIFMODAL STYLES *****/
.fav-heart {
  max-width: 30px;
  max-height: 30px;
}
.fav-heart:hover {
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transform: scale(1.2);
}




/* SEARCH FORM STYLES */

.search_form {
  width: 75%;
  margin: auto;
  padding: 20px 0 50px 0;
}

/* NAV STYLES */

.nav-span{
 font-size: 20px;
 display: inline-flex;
 flex: wrap;
 margin: 30px 80px 30px 80px;
 color: #000;
 text-decoration: none;
}

.nav-span:hover{
  display: inline-flex;
  flex: wrap;
  margin: 30px 80px 30px 80px;
  color: #11ABB0;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.nav-img {
  display: inline-flex;
  max-width: 50px;
  max-height: 50px;
}

.nav-img:hover {
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transform: scale(1.1);
}

/***** UPLOAD STYLES *****/

.drop-div {
  position: relative;
  background-image: url();
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 250px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
}

.drop-div:hover {
  background-color: #ccc;
}

.dropped-img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  max-height: 250px;
  min-width: 400px;
  min-height: 250px;
}
